@media (max-width: 1264px){
  
    #products figure {

        width: 30%;
        height: 35%;

    }
    #products figure img{
     
        height: 180px;
       
    }
}

@media (max-width: 992px){
    

    #main-header{
        padding: 80px;
        height: 100vh;
    }
    #main-header .main-header-content figure{

        margin: 0;
    }
  
    #main-header .main-header-content figure img {

        max-height: 200px;
    }

   
  
    #products figure {

        width: 30%;
        
    }

    #products figure img{
        max-height:150px;
        max-width: 170px;
    }

    #products .other{
        width: 30%;
       
    }

}

@media (max-width: 772px){


    #main-header .main-header-content{
        
        flex-direction: column;
        width: 60%;
        
        
    }
    #main-header .main-header-content figure{

        width: auto;

    }

    #main-header .main-header-content figure img {

        height: 250px;
    }

    #main-header .main-header-content h1{
        font-size: 1.5em;
        width: auto;
        text-align: center;
      
    }

       
    #products figure img{
        max-height: 140px;
  }

  #products .other {
     text-align: center;
  }
  /* kontakt - stylowanie danych kontaktowych */
    #contact address, #contact .email, #contact .phone{

        font-size: .9em;
    }

/* kontakt - stylowanie w przypadku obecności, zmiana po dojściu do zgody w sprawie RODO*/
    /* #contact{
        flex-direction: column;
    }

    #contact .width50{

        width: auto;
        padding: 20px;

    } */

}

@media(max-width: 660px){
    #products figure{
        width: 80%;
        
    }

    #products figure img{

        text-align: center;
    }

    #products .other{
        width: 60%;
    }
    #contact .address-info{
        flex-direction: column;
    }

    #contact address, #contact .email, #contact .phone{
        display: flex;
        text-align: left;
        line-height: 1.2em;
        font-size: .8em;
        margin-top: 1em;
    }
    #contact .email, #contact .phone{
        line-height: 3em;
    }

}
