@media (max-width: 1264px){
  
    #products figure {

        width: 30%;

    }
    #products figure img{
     
        height: 180px;
       
    }
}

@media (max-width: 992px){

    
/* #nav-toggle{
    display: none;
}

.nav-toggle-label{
    position:absolute;
    top:0;
    left:0;
    margin-left: 1em;
    height:100%;
    display:flex;
    align-items: center;

}

.nav-toggle-label span, .nav-toggle-label span:before, .nav-toggle-label span:after{
    
    display: block;
    height:2px;
    width: 2em;
    border-radius: 2px;
    position:relative;
    
}
.nav-toggle-label span,  .nav-toggle-label span:before,  .nav-toggle-label span:after{
    content: "";
    position: absolute;
}

.nav-toggle-label span:before{
    bottom: 7px;
}

.nav-toggle-label span:after{
    top: 7px;
}

#main-nav ul li a{
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.nav-toggle:checked ~#main-nav{
    transform: scale(1,1);
}

.nav-toggle:checked ~ #main-nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out;
} */

    #main-header{
        padding: 80px;
        height: 100vh;
    }
    #main-header .main-header-content figure{

        margin: 0;
    }
  
    #main-header .main-header-content figure img {

        max-height: 200px;
    }

   
  
    #products figure {

        width: 30%;
        
    }

    #products figure img{
        max-height:150px;
        max-width: 180px;
    }

}

@media (max-width: 772px){


    #main-header .main-header-content{
        
        flex-direction: column;
        width: 60%;
        
        
    }
    #main-header .main-header-content figure{

        width: auto;

    }

    #main-header .main-header-content figure img {

        height: 250px;
    }

    #main-header .main-header-content h1{
        font-size: 1.5em;
        width: auto;
        text-align: center;
      
    }

    #products{
        /* height: auto; */
    }
    #products figure {

        width: 60%;
    }
    #products figure img{
        max-height: 140px;
    }

    #contact{
        flex-direction: column;
    }

    #contact .width50{

        width: auto;
        padding: 20px;

    }

}

/* @media(max-width: 640px){
    #products figure {

        width: 80%;

    }

} */
