
* {
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Muli';
    font-weight: 300;
}

.width50{
    width: 50%;
}

/* Nawigacja */

#main-nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color:  #316591;
    width: 100%;
    margin-top: 0%;
    z-index: 2;
    
}

#main-nav input, #main-nav label{
    display: none;
}

#main-nav ul{

    display: flex;
    justify-content: flex-end; 
    align-items: center;
   

}

#main-nav ul .menu-item{
    
    list-style-type: none;
    margin-right: 5px;
    
}

#main-nav ul .menu-item a{
    text-decoration: none;
    text-transform: uppercase;
    color:white;
    padding: 10px 20px;
    
    font-size: 1.1em;
    transition: all .4s;
    
}

#main-nav ul .menu-item a:hover{

    border: none;
    
    background-color: #1ac056;
   
}

/* header */
#main-header{
    background-image: linear-gradient( rgba(0, 0, 34, 0.5),
    rgba(0, 0, 34, 0.09)), url(../img/skyscrapers-1081737_1920.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-header .main-header-content{
   
    display: flex;
    align-items: center;
    justify-content: center;
  
}


#main-header .main-header-content figure{

    margin: auto 20px;
    text-align: center;
}
#main-header .main-header-content figure img{
   
      max-height: 300px;
      
        }

#main-header .main-header-content h1{
      font-size: 3em;
      color: white;
      text-align:left;

    }

/* products */

#products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
  

}
#products figure{
    
    width: 25%;
    height: 230px;
    border: .8px solid #316591;
    text-align: center;
    padding:10px;
    

}

#products figure img{
    
    height: 150px;
  
}

#products figure figcaption{
    padding: 10px 0px;
    line-height: 1.5em;
   
}

#products .other {
    width: 25%;
    height: 230px;
    background-color: #316591;
    border: .8px solid #316591;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
#products .other p{
    
    color:#fff;
    font-size: 2em;
    font-weight: 300;

}

/* kontakt */

#contact {
    display: block;
    background-color: #316591;
    color: white;
    padding: 20px;
    padding-bottom: 40px;
    
}
#contact h2{
    font-size: 2em;
}
#contact .address-info{
    display: flex;
    justify-content:space-around;
    font-size: 1.1em;
    text-align: center;
}
#contact .address-info i{
    text-align: center;
    font-size: 2.5em;
    color:#1ac056;
    margin: 10px;
    padding: 10px;
    border: .8px solid #1ac056;
}

#contact address{
    font-style: normal;
    line-height: 1.5em;
    font-style: none; 
}

#contact .email a{
    color: white;
}



#contact form input:not([type='submit']), 
#contact textarea {
    background-color:white;
    padding: 10px;
    border: none;
    margin-bottom: 5px;
    outline: none;
    width:90%;
}

#contact form input[type="submit"] {
    width: 150px;
    background-color: #1ac056;
    border: none;
    color: #fff;
    font-size: 1.1em;
    cursor: pointer;
    padding: 20px;
    text-transform: uppercase;
}

#contact form input:focus, #contact form textarea:focus {
    border: 1px solid #1ac056;
    outline: none;
    
}

#contact form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(87, 87, 87);
    font-family:'Muli';
  }
#contact form input::-moz-placeholder { /* Firefox 19+ */
    color: rgb(87, 87, 87);
    font-family:'Muli';
  }
#contact form input:-ms-input-placeholder { /* IE 10+ */
    color: rgb(87, 87, 87);
    font-family:'Muli';
  }
#contact form input:-moz-placeholder { /* Firefox 18- */
    color: rgb(87, 87, 87);
    font-family:'Muli';
  }
  
#contact textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(87, 87, 87);
    font-family:'Muli';
  }
#contact textarea::-moz-placeholder { /* Firefox 19+ */
    color: rgb(87, 87, 87);
    font-family:'Muli';
  }
#contact textarea:-ms-input-placeholder { /* IE 10+ */
    color: rgb(87, 87, 87);
    font-family:'Muli';
  }
#contact textarea:-moz-placeholder { /* Firefox 18- */
    color: rgb(87, 87, 87);
    font-family:'Muli';
  }





